<h1>Orders INDEX </h1>

<h2>All Orders</h2>

<% @orders.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>Line Items: </p>
  <ul>
    <% order.line_items.each do |product| %>
    <li><%= product.quantity %> x <%= product.item.title %></li>
    <% end %>
  </ul>
<% end %>
