<!-- Shop Sidebar-->
          <!-- Off-Canvas Toggle-->
          <a class="offcanvas-toggle" href="#shop-sidebar" data-toggle="offcanvas"><i class="fe-icon-sidebar"></i></a>
          <!-- Off-Canvas Container-->
          <aside class="offcanvas-container" id="shop-sidebar">
            <div class="offcanvas-scrollable-area px-4 pt-5 px-lg-0 pt-lg-0"><span class="offcanvas-close"><i class="fe-icon-x"></i></span>
              <!-- Categories-->
              <div class="widget widget-categories">
                <h4 class="widget-title">Catégories</h4>
                <ul>
                  <li><a href="#computers" data-toggle="collapse">Computers &amp; Accessories<span>&nbsp;(1138)</span></a>
                    <div class="collapse show" id="computers">
                      <ul>
                        <li><a href="#">Desktop PCs<span>&nbsp;(508)</span></a></li>
                        <li><a href="#">Laptops<span>&nbsp;(423)</span></a></li>
                        <li><a href="#">Nettops<span>&nbsp;(97)</span></a></li>
                        <li><a href="#">PC Accessories<span>&nbsp;(110)</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a class="collapsed" href="#phones" data-toggle="collapse">Smartphones &amp; Tablets<span>&nbsp;(2356)</span></a>
                    <div class="collapse" id="phones">
                      <ul>
                        <li><a href="#">Smartphones<span>&nbsp;1032)</span></a></li>
                        <li><a href="#">Tablets<span>&nbsp;(937)</span></a></li>
                        <li><a href="#">Phablets<span>&nbsp;(386)</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a class="collapsed" href="#tv" data-toggle="collapse">TV, Video &amp; Audio<span>&nbsp;(420)</span></a>
                    <div class="collapse" id="tv">
                      <ul>
                        <li><a href="#">Smart TV Sets<span>&nbsp;(180)</span></a></li>
                        <li><a href="#">Blue-Ray Players<span>&nbsp;(132)</span></a></li>
                        <li><a href="#">Sound Systems<span>&nbsp;(47)</span></a></li>
                        <li><a href="#">Home Theaters<span>&nbsp;(61)</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a class="collapsed" href="#headphones" data-toggle="collapse">Headphones<span>&nbsp;(1239)</span></a>
                    <div class="collapse" id="headphones">
                      <ul>
                        <li><a href="#">Earbuds Headphones<span>&nbsp;(752)</span></a></li>
                        <li><a href="#">Over-Ear Headphones<span>&nbsp;(487)</span></a></li>
                        <li><a href="#">Bluetooth Headphones<span>&nbsp;(205)</span></a></li>
                        <li><a href="#">Sport &amp; Fitness<span>&nbsp;(96)</span></a></li>
                        <li><a href="#">Noise-Cancelling<span>&nbsp;(113)</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a class="collapsed" href="#wearable" data-toggle="collapse">Wearable Electronics<span>&nbsp;(340)</span></a>
                    <div class="collapse" id="wearable">
                      <ul>
                        <li><a href="#">Smart Watches<span>&nbsp;(175)</span></a></li>
                        <li><a href="#">Fitness Trackers<span>&nbsp;(123)</span></a></li>
                        <li><a href="#">Smart Glasses<span>&nbsp;(42)</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a class="collapsed" href="#printers" data-toggle="collapse">Printers &amp; Ink<span>&nbsp;(512)</span></a>
                    <div class="collapse" id="printers">
                      <ul>
                        <li><a href="#">All-in-One<span>&nbsp;(304)</span></a></li>
                        <li><a href="#">Copying<span>&nbsp;(115)</span></a></li>
                        <li><a href="#">Faxing<span>&nbsp;(211)</span></a></li>
                        <li><a href="#">Photo Printing<span>&nbsp;(68)</span></a></li>
                        <li><a href="#">Scanning<span>&nbsp;(143)</span></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </aside>