    <div class="container pb-5 mb-3 mt-5">
      <div class="row">
        <div class="col-lg-3">
          
          <%= render "sidebar" %>

        </div>

          <%= render "product-list" %>

    </div>
</div>